@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html, body {
    color: #222;
    font-family: "Inter", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
}
